.result-box .btn-outline-primary{
  display: none
}
.result-box .alert {
  display: none !important
}
.q-layout-header {
  box-shadow: none
}
.q-layout-header.act {
  -webkit-box-shadow: 0 8px 6px -6px gray;
  -moz-box-shadow: 0 8px 6px -6px gray;
  box-shadow: 0 8px 6px -6px gray;
}
.container {
  height: 800px
}
.select-box {
  height: 300px;
  width: 100%
}
.select-box-input {
  text-align: center;
  width: 300px;
  height: 300px;
  margin: 0 auto
}
.input-box {
  box-shadow: none;
  border: 1px solid lightgray
}
.result-box {
  height: 300px;
  text-align: center;
}
.result-box .table {
  margin: 0 auto;
}
.result-box thead {
  color: #003478;
  background-color: #e0f7fa
}
.result-box .font-weight-bold {
  color: #003478;
  background-color: #e0f7fa
}
.result-box tr{
  height: 80px;
}
// .result-table td {
//   border-top: 1px solid black;
//   border-bottom: 1px solid black;
//   border-spacing: 0
// }
.result-table .text-right{
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-top: 1px solid lightgray;
  padding: 0
}
.table-button {
  box-shadow: none;
  height 80px;
  width: 100%;
  padding: 5px
}
.result-box p{
  margin: 50px
  color: #424242
}
.apexcharts-toolbar {
  display: none !important
}
.class-list {
  text-align: center
}
.class-list .q-list{
  border: none
  margin-top: 50px
}
.class-list-button {
  text-align: center
}
.title {
  text-align: center
  margin-top: 50px
}
.result .q-list {
  border:none
}
.q-table-container {
  box-shadow: none
}
.class-table {
  border: none
}
.chart {
  border: none
}
.result .q-list-header {
  color: #00acc1
}